@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color: #216dff;
}

.main__home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 
}
body {
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(180deg, #03032d 0%, #020327 100%);
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 2rem 0; */
}

a {
  text-decoration: none;
  /* color: inherit; */
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

/* ======  RAUSABLE CSS CLASSES =======  */
.section {
  padding: 6rem 0 2rem;
  /* text-align: center; */
}
.section__title {
  font-size: 40px;
  font-weight: 600;
  color: #216dff;
}
.section__title::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 8px;
  background-color: #216dff;
  bottom: -20px;
  left: 47%;
  border-radius: 25px;
}

.section__titleService {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.section__titleService::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 8px;
  background-color: #fff;
  bottom: -20px;
  left: 47%;
  border-radius: 25px;
}


@media screen and (max-width:1216px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 2rem 0; */
  }
}
@media screen and (max-width:1024px) {
  .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 2rem 0; */
  } 
}
@media screen and (max-width:768px) {
  .container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 2rem 0; */
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 2rem 0; */
  }
}