.header {
  height: 100%;
  position: relative;
  margin-top: 60px;
  overflow-x: hidden;
  margin-bottom: 4rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  column-gap: 120px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.header__content h1 {
  font-weight: 600;
  font-size: 55px;
  line-height: 157.5%;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.header__content h1::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 8px;
  background-color: #216dff;
  bottom: -20px;
  left: 0;
  border-radius: 25px;
}

.header__content h1 span {
  color: var(--color);
}

.header__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header__img {
  height: 60vh;
}

.header__box {
  width: 207px;
  height: 207px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0b0b4a;
  border-radius: 8px;
}



.header__box p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
@media screen and (max-width:1216px) {
  .header {
    width: 100%;
    margin-top: 60px;
    overflow-x: hidden;
    margin-bottom: 4rem;
  }
  
  .header__container {
    display: flex;
    justify-content: center;
    gap: 0px;
  }
  
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
  }
  
  .header__content h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 157.5%;
    color: #fff;
    text-transform: uppercase;
    position: relative;
  }
  
  .header__content h1::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 8px;
    background-color: #216dff;
    bottom: -20px;
    left: 0;
    border-radius: 25px;
  }
  
  
  .header__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .header__img {
    width: 30vw;
  }
  
  .header__box {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0b0b4a;
    border-radius: 8px;
  }
  
  .header__box p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
  }
}
@media screen and (max-width:1024px) {
  
}
@media screen and (max-width:768px) {
  
}

@media screen and (max-width: 576px) {

}